{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row" style="margin-top:16px;margin-left:40px">
            <div class="col-md-8 col-md-offset-1">
            <h1>Add A User</h1>

                {{ form_start(form) }}
                {{ form_errors( form ) }}
            <fieldset class="form-group">
                {{ form_widget(form) }}
            </fieldset>
                <input type="submit" value="Add"
                       class="btn btn-primary" />

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}


