{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>Development Task</h1>
            <p class="lead">This challenge is a simple test scheduling app.</p>
            <p class="lead">No authenthication system is in place.</p>
        </div>

    </div>
{% endblock %}


