{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="starter-template">
            <h1>Tests for {{ instructor }}</h1>
            <ul>
                {% for result in results %}
                    <li>{{ result.testName }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}


